.menu-enter {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.menu-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.menu-exit {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.menu-exit-active {
    opacity: 0;
    transform: translateY(-10px);
}

