#app__wrapper {
    width: 23rem;
    height: 46rem;
    /* MOVE TO: max-width query for mobile devices - responsive design */
    /* width: unset;
    height: unset; */
}

#app__wrapper * {
    user-select: none;
}

#app__wrapper #workouts__wrapper .workout__card:last-child {
    margin-bottom: 2px;
}

#app__wrapper .overlay-btn > *:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


