#app__wrapper {
    width: 23rem;
    height: 46rem;
    /* MOVE TO: max-width query for mobile devices - responsive design */
    /* width: unset;
    height: unset; */
}

#app__wrapper * {
    user-select: none;
}

#app__wrapper #workouts__wrapper .workout__card:last-child {
    margin-bottom: 2px;
}

#app__wrapper .overlay-btn > * {
    /* box-shadow: rgba(136, 165, 191, 0.48) 0px 0px 10px 0px, rgba(255, 255, 255, 0.8) 0px 0px 10px 0px; */
    box-shadow: 3px 3px 26px 3px rgba(0,0,0,0.5);
}

#app__wrapper .overlay-btn > *:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


