.overlay-scroll-area::-webkit-scrollbar-track {
    margin-top: 48px;
}

.sub500.overlay-scroll-area::-webkit-scrollbar-track {
    margin-top: 36px;
}

.sub300.overlay-scroll-area::-webkit-scrollbar-track {
    margin-top: 24px;
}

.h-custom-e {
    max-height: min(700px, calc(100vh - 80px));
}